.DS_Store
node_modules/
coverage
.vscode

build
.idea/

lib/
contrib/boost*
contrib/boost-sdk/bjam
contrib/boost-sdk/b2
contrib/boost-sdk/project-config.jam
contrib/boost-sdk/bootstrap.log
contrib/boost-sdk/bin.v2

