[submodule "src/submodules/monero-core-custom"]
	path = src/submodules/monero-core-custom
	url = https://github.com/mymonero/monero-core-custom
[submodule "src/submodules/mymonero-core-cpp"]
	path = src/submodules/mymonero-core-cpp
	url = https://github.com/mymonero/mymonero-core-cpp
